<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="../static/ajax_script.js"></script>
    <title>Ajax Prototype</title>
</head>
<body>
<h1>Ajax Prototype</h1>
<h5>You can try all kinds of inputs... but that doesn't mean that all of them are going to be valid ones. :-)<br>
For instance try to submit an empty form or to enter special characters.<br>
See what happens after you submit the form.... See, Ajax is in the house !<br>
</h5>
<form method="post" action="javascript:ajaxScript();">
    <label>Please pick a name</label>
    <input id="input" type="text">
    <input type="submit">
    <div id="error" style="color:red"></div>
</form>
</body>
</html>